@model HomeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|ZCOOL+XiaoWei" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Nanum+Gothic" rel="stylesheet">



</head>

<body>
    <!-- header starts -->
    <header style="background-image: url('/Images/bacground_section/Club-del-Doge-Restaurant.jpg');">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <a class="navbar-brand" href="Index.html">
                    <img src="~/Images/logo/logo.png" alt="">
                </a>
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="Index" role="button" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                About Us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Menu">Menu</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="OurChefs">Our Chef</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Events">Events</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Locations">Location</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="Reservation" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Reservation
                            </a>

                        </li>


                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="Gallery" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Gallery
                            </a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Home" asp-action="ShopNow">Shop Now</a>


                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-controller="Home" asp-action="Blog" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Blog
                            </a>

                        </li>
                        <li class="nav-item ">
                            <a class="nav-link "  asp-controller="Home" asp-action="ContactUs" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Contact Us
                            </a>

                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link ml-1 mr-1" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link ml-1 mr-1" asp-controller="Account" asp-action="Logout" role="button" aria-haspopup="true" aria-expanded="false">
                                    LogOut
                                </a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Busket" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-shopping-basket">

                                    </i>
                                    <span class='badge badge-warning' id='lblCartCount'>0</span>
                                </a>
                            </li>
                        }

                    </ul>

                </div>
            </nav>




            <div class="row">
                <div class="col-12 header-text">
                    <h2 class="text-center" style="margin-top:170px;color: wheat;font-size: 6rem;">Contact Us</h2>

                </div>
            </div>
        </div>





    </header>
    <!-- header ends -->
    <!-- top scroll -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-flex align-items-end flex-column" style="background:transparent;">
                <span id="myBtn" title="Go to top"></span>

            </div>
        </div>

    </div>

    </div>
    <!-- top scroll -->



    <section class="information">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-8">
                    <div class="map">
                        <div style="width: 100%">
                            <div style="width: 100%">
                                <iframe width="100%" height="650" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                    <a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a>
                                </iframe>
                            </div>
                            <br />
                        </div>
                        <br />

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row ">
                        <section class="reservation">
                            <div class="container">
                                <div class="row" style="margin-top:100px">

                                    <div class="col-12 text-center ">
                                        <h1 style="font-weight: 700;    position: relative; color: #232323; font-size: 22px; font-weight: 700; line-height: 1.2em; padding-bottom: 35px; letter-spacing: 1px; text-transform: uppercase;">get in touch</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="example-date-input" class="col-2 col-form-label">
                                                <i style="font-size:25px;" class="far fa-calendar"></i>
                                            </label>
                                            <div class="col-8">
                                                <input class="form-control" type="date" value="2019-05-15" id="example-date-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="example-time-input" class="col-2 col-form-label">
                                                <i style="font-size:25px;" class="far fa-clock"></i>
                                            </label>
                                            <div class="col-8">
                                                <input class="form-control" type="time" value="19:00:00" id="example-time-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="example-number-input" class="col-2 col-form-label">
                                                <i style="font-size:25px;" class="fas fa-user"></i>
                                            </label>
                                            <div class="col-8">
                                                <input class="form-control" type="number" value="0" max="6" min="0" id="example-number-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button style="     background: #8b755a;color:white;font-weight:bold;font-size:2em;margin-top:20px !important;    border: 2px solid #8b755a;line-height: 24px;    text-align: center;   border-radius: 0px; font-size: 12px; letter-spacing: 2px; padding: 13px 43px; margin-top: 10px;cursor: pointer;text-transform:uppercase;">
                                            reservation
                                        </button>
                                    </div>
                                </div>





                        </section>
                    </div>
                </div>

            </div>
        </div>


    </section>

    <footer style=" background-color: #171717;color:white;">
        <div class="container">
            <div style="margin-top:150px;" class="row text-center">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12">
                            <h6 style="margin-top: 11px">Contact</h6>
                        </div>
                        <div class="col-12">
                            p>+994-70-571-21-55
                            <br> Old City - Asef Zeynalli street, Baku, Azerbaijan
                            <br> fariddsx2015@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-12">
                        <img style="margin-top: 11px;" src="~/Images/logo/logo2.png" alt="">
                    </div>
                    <div class="col-12 mt-3">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12">
                            <h6 style="margin-top: 11px">Hours</h6>
                        </div>
                        <div class="col-12">
                            <p>
                                Every day
                                <br> from Noon to 1:30 pm
                                <br> and from 7 pm to 9:30 pm
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="mt-5" style="font-size:14px">
                        <marquee behavior="" direction="">
                            PatoPalace © Monde 2019. All Rights Reserved.
                        </marquee>
                    </p>
                </div>
            </div>
        </div>

    </footer>










    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="~/js/script.js"></script>
</body>

</html>