header{
    width: 100%;
    height: 560px;
    /* background-image: url('images/bacground_section/photo-1453818587003-936aa861686f.jpg'); */
    background-size: cover;

}

header:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 560px;
    display: block;
    background-color: rgba(0,0,0,0.50);
}



/* <!-- GET THE BEST SECTION STARTS --> */
.left-img img{
width: 99% ;
}
.right-img img{
    width: 99% ;
    }



.btn-get-the-best {
    position: relative;
    padding: 13px 36px;
    line-height: 24px;
    color: #232323;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid white;
    text-transform: uppercase;
    transition: all 0.4s linear;
}
.btn-get-the-best:hover{
    border: 2px solid burlywood;
}

/* <!-- GET THE BEST SECTION ends --> */
/* carousel starts */
.carousel-item{
    height: 600px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
.carousel-control-prev-icon{
    width: 40px;
    height: 40px;
}
.carousel-control-next-icon{
    width: 40px;
    height: 40px;
}
/* carousel ends */
/* --------------- */
/* <!-- THE PLACE STARTS --> */
.the-place{
    width: 100%;
    height: 600px;
    background-image: url('http://monde.elitelayers.com/html/images/background/7.jpg');
    background-size: cover;
}
.the-place .transparent{
    /* background: transparent !important; */
    height: 380px;

}
.the-place .darkBlue{
    height: 380px;
    background-color: #01031e;
}

.bordered-div{
    border: 0.5px solid rgba(255,255,255,0.30);
    height: 90%;

}
.bordered-div h3{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 0px 75px;
}
.bordered-div p{
    position: relative;
    color: #d1d1d1;
    font-size: 15px;
    padding: 0px 75px;
}


/* <!-- THE PLACE ends --> */


.the-team img{
    width: 100%;
}
/* FOOTER */



/* FOOTER */



/* RESPONSIVE */
@media (max-width: 326px) {
    .the-place{
        display: none !important;
    }


         }
@media (max-width: 576px) {

.left-img img{
display: none;
}
.right-img img{
   display: none;
    }

    .carousel-item{
        height: 300px;
    }


     }

     /* // Medium devices (tablets, 768px and up) */
     @media (max-width: 768px) {


     }

     /* // Large devices (desktops, 992px and up) */
     @media (max-width: 992px) {

     }

     /* // Extra large devices (large desktops, 1200px and up) */
     @media (max-width: 1200px) {

     }
    /* Responsive--------------------- */
    /* Responsive--------------------- */
