@model Enjoy
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid" style="margin-top:110px;">
    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Title:</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Photo:</label>
                    <input asp-for="Photo" accept="image\*" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <input type="submit" class="btn btn-primary" value="Create" />
            </form>
        </div>
    </div>
</div>


