@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="container-fluid" style="margin-top:110px;">

    <div class="row">
        <div class="col-12">
            <h3>@Model.Title</h3>
            <p>@Model.SubTitle</p>
            <p>@Model.Description</p>
            <img src="~/Images/slider/@Model.Image" alt="Alternate Text" width="400px" />

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index"><i class=" far fa-arrow-alt-circle-left"></i>  Go Back</a>
        </div>
    </div>
</div>


