@model Order_gift
@{
    ViewData["Title"] = "Detail";
}

<div class="container-fluid" style="margin-top:110px;">

    <div class="row">
        <div class="col-12">


            <img src="~/Images/@Model.Image" alt="Alternate Text" width="400px" />

            <h3>@Model.Title</h3>
            <p>@Model.SubTitle</p>
            <p> @Model.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index"><i class=" far fa-arrow-alt-circle-left"></i>  Go Back</a>
        </div>
    </div>
</div>




